/* 初期設定 */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea,
p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}


/* スナップの設定 */
.scrollsnap-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.scrollsnap-child {
  scroll-snap-align: start;
  height: 100vh;
}

/* モバイル版レイアウト */
@media screen and (max-width: 767px) {

  /* 1ページ目の設定 */
  .l-top {
    height: 100vh;
  }
  .l-header {
    height: 70px;
  }
  .l-page-title {
    width: 100%;
    height: 80px;
  }
  .l-page-title h2 {
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: white;
    background: -webkit-linear-gradient(to right, rgb(252, 206, 158), rgb(240, 145, 47));
    background: linear-gradient(to right, rgb(252, 206, 158), rgb(240, 145, 47));
  }
  .l-intro-title {
    position: relative;
    height: 50px;
  }
  .l-main h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .l-avatars {
    position: relative;
    margin-top: 30px;
    height: calc(100vh - 70px - 80px - 50px - 30px);
  }
  .l-avatar {
    height: 120px;
    width: 120px;
  }
  .l-chomo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
  .l-yuna {
    position: absolute;
    top: calc((100vh - 70px - 80px - 50px - 30px - 120px - 50px) / 2);
    left: 10px;
  }
  .l-kura {
    position: absolute;
    top: calc((100vh - 70px - 80px - 50px - 30px - 120px - 50px) / 2);
    right: 10px;
  }
  .l-yoshino {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .l-avatar img {
    position: relative;
    top: -1px;
    left: -1px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 1px rgb(240, 145, 47);
    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
  .avatar-after::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    height: 122px;
    width: 122px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 9;
  }
  .avatar-after:hover::after {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .avatar-after:active::after {
    background-color: rgba(0, 0, 0, 0.3);
  }



  /* 個人の1ページの設定 */
  .l-introduction {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .l-intro-yoshino {
    background: -webkit-linear-gradient(to bottom, rgb(180, 223, 157), rgb(93, 210, 38));
    background: linear-gradient(to bottom, rgb(180, 223, 157), rgb(93, 210, 38));
  }
  .l-profile {
    position: relative;
    height: 150px;
    width: 200px;
  }
  .l-profile .l-avatar {
    position: absolute;
    left: 35px;
    bottom: 10px;
    z-index: 1;
  }
  .l-profile .l-avatar img {
    border-style: none;
  }
  .l-name {
    position: absolute;
    top: 50px;
    left: 170px;
    width: 200px;
    /* transform: rotate(-5deg); */
    z-index: 2;
  }
  .l-name h5 {
    font-size: 40px;
    line-height: 45px;
    color: white;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.4));
    /* -webkit-text-stroke: 2px black; */
  }
  .l-subtitle {
    position: absolute;
    top: 140px;
    right: 0;
    transform: rotate(-5deg);
    display: inline-block;
    width: 300px;
    z-index: 4;
  }
  .l-subtitle h3 {
    text-align: center;
    line-height: 34px;
    font-size: 28px;
    color: white;
    font-family: "HG行書体","HGP行書体",cursive;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
  }
  .l-subtitle span {
    font-size: 32px;
    color: #29238e;
  }
  .l-introText {
    width: 95%;
    margin: 0 auto;
    padding-top: 150px;
  }
  .l-introText p {
    position: relative;
    text-align: center;
    line-height: 30px;
    color: white;
    z-index: 2;
  }
}
